server:
  port: 8083

spring:
  application:
    name: fraud-service
  datasource:
    url: jdbc:h2:mem:fraud_db
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  prometheus:
    metrics:
      export:
        enabled: true

  tracing:
    enabled: true
    sampling:
      probability: 1.0

  zipkin:
    enabled: true              # enables the Zipkin exporter
    endpoint: http://localhost:9411/api/v2/spans
    # or `base-url` instead of endpoint with older Micrometer versions
    
logging:
  pattern:
      level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
    
